// @import "../node_modules/bootstrap/scss/bootstrap.scss";

@mixin smartphone {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

@mixin tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }
  
  @mixin large {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
    @mixin custom {
        @media (min-width: 767px) and (max-width:1199px){
          @content;
        }
  }


  @keyframes logo-girar-h
  {
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
  }

/*CLASES PERSONALIZADAS*/

$bg-blue: rgb(16, 24, 32);
$bg-yellow: rgb(255, 199, 44);

.background-yellow
{
    background-color: $bg-yellow;
}

.background-logo-b
{
    background-color: $bg-blue;
}

.font-style
{
    font-family: 'PT Sans Narrow', sans-serif;
}

.img-size
{
    max-width: 100%;
    height: auto;
    object-fit: cover; 
}

.img-size-footer
{
    max-width: 30%;
    height: auto;
    object-fit: cover; 
}

#img-p-libre, #img-s-maquinas, #img-c-grupales
{
    filter: grayscale(100%);
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
}

#img-p-libre:hover, #img-s-maquinas:hover, #img-c-grupales:hover
{
    filter: none;
    cursor: pointer;
}

.pointer:hover{
    cursor: pointer;
    color: lightblue;
}

#logo_blanco
{
    width: 30%;
}


body
{
    footer
    {
        ul
        {
            li
            {
                img:hover
                {
                    animation-name: logo-girar-h;
                    animation-duration: 1s;
                    // animation: name duration timing-function delay iteration-count direction fill-mode;
                }
            }
        }
    }

}

.cerrar-modal
{
    background-color: $bg-yellow;
    &:hover
    {
        background-color: $bg-blue;
        color: white;
    }
}


section div div p
{
    &#short
    {
        display: none;
    }
    @include tablet
    {
        &.extend
        {
            display: none;
        }
        &.short
        {
            display: unset;
        }
    }

    @include desktop
    {
        &.extend
        {
            display: unset;
        }
        &.short
        {
            display: none;
        }
    }

    @include smartphone
    {
        &.extend
        {
            display: unset;
        }
        &.short
        {
            display: none;
        }
    }
}

section div
{

    @include custom
    {
        &#salas-principal
        {
            flex-direction: column;
            align-content: center;
            gap: 20px;
        }   

        .col-md-3.mt-4
        {
            width: 60%;
            p
            {
                margin-bottom: 20px;
            }
        }
    }

    @include large
    {
        &#salas-principal
        {
            flex-direction: row;
        }   

        .col-md-3.mt-4
        {
            width: 30%;
        }
    }
}

footer
{
    div
    {
        div
        {
            a
            {
                img#logo-fotter-eg
                {
                    @include smartphone
                    {
                        width: 50px;
                    }

                    @include tablet
                    {
                        width: 50px;
                    }
                }
            }

            ul
            {
                li
                {
                    a
                    {
                        img
                        {
                            @include smartphone
                            {
                                width: 30px;
                            }
                            @include tablet
                            {
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}